body{ 
  /*font-family: 'Electrolize', sans-serif;*/
  font-family:helvetica, arial, sans-serif;
  margin:50px 0px; padding:0px;
  text-align:center;
  overflow-x:hidden;
}

.flot-view-container{
  cursor:pointer;
  position:absolute;
  margin:20px;
  overflow:hidden;
  height:300px;
  width:600px;
}

.flot-view-header{
  font-size:95%;
  border-radius:5px;
  font-weight:200;
  width:100%;
  background-color:#F0EFE6;
  padding:5px;
}

.flot-view{
  font-family:'Arial';
  height:87%;
  width:97%;
}

.flot-drop-hover{
  opacity:0.4;
}

.login-view-container{
  width:300px;
  margin:0px auto;
}

.login-logo{
  font-size:200%;
}

.login-input{
  width:100%;
  font-size:120%;
  margin:5px;
}

button.login-button{
  width:100%;
  color:#404040;
  cursor:pointer;
  border-radius:5px;
  margin:5px;
  padding:5px;
}

.login-wait-msg{
  display:none;
}

.login-button:hover{
  color:white;
}

.numerical-view-container{
  margin:0px auto;
  width:90%;
}

.numerical-data-view{
  margin:5px;
  color:#8BAB8D;
}

.navbar-view-container{
  padding:5px;
  position:absolute;
  background-color:#F0EFE6;
  top : 0px;
  width:100%;
  font-weight:400;
  border-bottom:1px solid #999999;
}

.navbar-item{
  cursor:pointer;
  margin:5px;
  float:left;
  font-size:105%;
  font-weight:200;
  color:#808080;
}

.navbar-item-cohort{
  cursor:none;
}

.navbar-active{
  /*color:#505050;*/
  color:black;
}

.navbar-item:hover{
  color:black;
}

.time-selector{
}
