<div class="login-logo">RH0MBUS</div>
<input class="login-input email-input" placeholder="Email" type="text" /><br />
<input class="login-input pwd-input" placeholder="Password" type="password" />
<div class="login-wait-msg">Please wait while I log you in to Rhombus</div>
<div class="login-button">Login</div>
