<div class="navbar-item navbar-item-cohort">
 Cohort 
  <select class="cohort-selector">
    <option class="all-cohort-opt" value="all">All</option>
    <option class="company-cohort-opt" value="company">Company</option>
    <option class="pre_onboarding-cohort-opt" value="pre_onboarding">Pre-Onboarding</option>
    <option class="reece_ux_1-cohort-opt" value="reece_ux_1">Reece UX 1</option>
    <option class="dan_ux_1-cohort-opt" value="dan_ux_1">Dan UX 1</option>
    <option class="myles-cohort-opt" value="myles">Myles UX 1</option>
    <option class="henry_ux_1-cohort-opt" value="henry_ux_1">Henry UX 1</option>
    <option class="chris_ux_1-cohort-opt" value="chris_ux_1">Chris UX 1</option>
    <option class="mark_ux_1-cohort-opt" value="mark_ux_1">Mark UX 1</option>
    <option class="lauren_ux_1-cohort-opt" value="lauren_ux_1">Lauren UX 1</option>
    <option class="josh_ux_1-cohort-opt" value="josh_ux_1">Josh UX 1</option>
    <option class="vincent_ux_1-cohort-opt" value="vincent_ux_1">Vincent UX 1</option>
    <option class="mike_ux_1-cohort-opt" value="mike_ux_1">Mike UX 1</option>
    <option class="arthur_ux_1-cohort-opt" value="arthur_ux_1">Arthur UX 1</option>
    <option class="jeng_ux_1-cohort-opt" value="jeng_ux_1">Jeng UX 1</option>
    <option class="frasher_ux_1-cohort-opt" value="frasher_ux_1">Frasher UX 1</option>
  </select>
</div>

<div class="dboard navbar-item {{ active_tab==='dashboard' ? 'navbar-active' : '' }} ">Dashboard</div>
<div class="actions navbar-item {{ active_tab==='actions' ? 'navbar-active' : '' }} ">Actions</div>
<div class="active-users navbar-item {{ active_tab==='actives' ? 'navbar-active' : '' }}">Active Users</div>
<div class="user-numbers navbar-item {{ active_tab==='user_numbers' ? 'navbar-active' : '' }}">Total Users</div>
<div class="cohort-comparison navbar-item {{ active_tab==='cohort_comparison' ? 'navbar-active' : '' }}">Cohort Comp</div>
